"# Gitignore file" 
# Build & debug
bin/
obj/

# Cấu hình ứng dụng (tránh lưu thông tin nhạy cảm)
appsettings.json
appsettings.Development.json

# Cấu hình môi trường của Azure
.azure/

# Thư mục cấu hình của IDE
.vscode/
.idea/
*.sln.dotSettings
*.user

# Hệ điều hành
.DS_Store
Thumbs.db