"# Gitignore file" 
# Build & debug
bin/
obj/

# Appsetting files
appsettings.json
appsettings.Development.json

# Configuration of Azure
.azure/

# Configuration of IDE
.vscode/
.idea/
*.sln.dotSettings
*.user

# OS
.DS_Store
Thumbs.db